//- ------------------------------------------------------
//- jinja tags
//- ------------------------------------------------------
mixin _(text)
  if handler.env !== 'dev'
    | #{text}

//- ------------------------------------------------------
//- input field
//- ------------------------------------------------------
mixin form_input_read(arg, field)
  - field = field || 'field'
  .row
    label.statement.c1-4( for="{{ #{field}.id }}" ) {{ #{field}.label.text }}:
    .content.c3-4( class!='{{ #{field}.type }}-content' ) 
      .input-read {{ #{field}.data }}

mixin form_input(arg, field)
  - field = field || 'field'
  {% if 'HiddenField' == field.type %}
  {{ #{field}() }}
  {% else %}
  .row
    label.statement.c1-4( for="{{ #{field}.id }}" ) {{ #{field}.label.text }}{% if 'required' in #{field}.flags %}*{% endif %}
    .content.c3-4( class!='{{ #{field}.type }}-content' )
      {% set attr = {} %}

      {% for f in #{field}.validators %}

      {% set name = f.__class__.__name__|lower %}

      {# si length #}
      {% if name == 'length' %}

      {% if f.max > 0 %}
      {% do attr.update({ 'maxlength': f.max }) %}
      {% endif %}
      
      {% if f.min > 0 %}
      {% do attr.update({ 'minlength': f.min }) %}
      {% endif %}


      {# si equalto #}
      {% elif name == 'equalto' %}
      {% do attr.update({ 'equalto': '#' + f.fieldname }) %}
      {% else %}


      {# si por defecto #}
      {% do attr.update({ name: 'true' }) %}
      {% endif %}

      {% endfor %}

      {% do attr.update(#{arg}) %}

      {{ #{field}(**attr) }}
      mixin form_parse_errors(field)
  {% endif %}

mixin input(arg, field)
  - field = field || 'field'
  .row
    label.statement( for="{{ #{field}.id }}" ) {{ #{field}.label.text }}{% if 'required' in #{field}.flags %}*{% endif %}
    .content
      {{ #{field}(#{arg}) }}
      mixin form_parse_errors(field)

mixin input_only(arg, field)
  - field = field || 'field'
  {{ #{field}(#{arg}) }}
  mixin form_parse_errors(field)

//- ------------------------------------------------------
//- mensajes con bitwise
//- ------------------------------------------------------
mixin form_bitwise(flag, msg)
  {% if status_code|bitwise_flag(#{flag}) %}
  p #{msg}
  {% endif %}



//- ------------------------------------------------------
//- parser de errores inline
//- ------------------------------------------------------
mixin form_parse_errors(field)
  - field = field || 'field'

  {% if #{field} and #{field}.errors|length -%}
  label.error
    {% for error in range(#{field}.errors|length) %}
    {{ #{field}.errors[error] }}
    {% if not loop.last %}.<br/>{% endif %}
    {% endfor %}
  {%- endif %}


//- ------------------------------------------------------
//- parsea errores para la cabecera
//- ------------------------------------------------------
mixin form_header_errors(form_name)
  - var form = 'form';
  if form_name
    - form  = form_name;

  .message-error
    ul
      {% for field_name, field_errors in #{form}.errors|dictsort %}
      {% if field_errors is mapping %}

      {% for error in field_errors %}
      li 

        {% if field_name in form %}
        {{ form[field_name].label }}: 
        {% endif %}
        {% if error is string %}
        {{ error }}
        {% else %}
        {{ error|join(', ') }}
        {% endif %}
      {% endfor %}

      {% else %}
      li 
        {% if field_name in form %}
        {{ form[field_name].label }}: 
        {% endif %}
        {% if field_errors is string %}
        {{ field_errors }}
        {% else %}
        {{ field_errors|join(', ') }}
        {% endif %}
      {% endif %}

      {% endfor %}


//- ------------------------------------------------------
//- Paginado
//- ------------------------------------------------------
mixin paginate(config)
  - config = config || {};
  {% if pagination and pagination.total_pages > 1 %}
  .paginate-content
    .paginate-center
      .paginate
        {% if pagination.page + 1 > 1 %}
        a.page-prev( href!="{{ handler.reverse_url(" + config.urlprev +") }}" ) <
        {% else %}
        span.page-prev <
        {% endif %}

        {% for item in pagination.pages %}
        {% if item == pagination.page + 1 %}
        span.page.active {{ item }}
        {% else %}
        a.page( href!="{{ handler.reverse_url(" + config.urlitems +") }}" ) {{ item }}
        {% endif %}
        {% endfor %}

        {% if pagination.total_pages > 1 and pagination.page + 1 < pagination.total_pages %}
        a.page-next( href="{{ handler.reverse_url(" + config.urlnext +") }}" ) >
        {% else %}
        span.page-next >
        {% endif %}
  {% endif %}
