mixin scriptTag(url)
  - url = url || ''

  script( type="text/javascript" ).
    (function () {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '#{url}';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();


mixin scriptUserAgent()
  script( type='text/javascript' ).
    !function() {
      var os = '';
      var is = function(t) { return RegExp(t,"i").test(navigator.userAgent.toLowerCase());  };
      if (is('win')? 'win' : false) { document.getElementById('html').className += ' windows'; os = 'windows'; }
      if (is('Chrome')? 'chrome' : false) { document.getElementById('html').className += ' chrome ' + ((os)? os + '-' + 'chrome': ''); }
      if (is('iPhone') || is('iPad') || is('iPod') || is('android')? 'mobile-browser' : false) { document.getElementById('html').className += ' mobile-browser '; }
    }()
