// ------------------------------------------------------------------------
// defaults
// ------------------------------------------------------------------------
body
  background #EFEFEF

// ------------------------------------------------------------------------
// content
// ------------------------------------------------------------------------
#content
  width 320px
  margin 0 auto
  padding 10px 0
