extend _layout

block main
  .block
    h2 Ingresar

    {% if form.errors|length == 0 and handler.request.method == 'POST' %}
    {% else %}
    {% if form.errors or form.errors.custom %}

    {% if form.errors %}
    mixin form_header_errors()
    {% endif %}

    {% if form.errors.customs %}
    .message-error
      p {{ form.errors.custom }}
    {% endif %}

    {% endif %}
    {% endif %}

    p Los campos marcados son requeridos.

    form.form-validate( action='', method='post' )
      {% for field in form %}
      mixin form_input()
      {% endfor %}
      {{ handler.xsrf_form_html() }}

      .form-buttons
        button.button( type='submit' ) Entrar
