- var custom = {}
block variables
html( style='margin: 0; padding: 0' )
  head
    title 
    block css

  body( style='margin: 0; padding: 0' )
    table#wrap( cellpadding='0', cellspacing='0', border='0', align='center' )
      tr
        td#wrap_vertical
          table#wrap_inner( cellpadding='0', cellspacing='0', border='0', align='center' )
            tr
              td#wrap_inner_td
                block main
