_font_default = 'Trebuchet MS', Helvetica, sans-serif
_font_safe = Verdana, Geneva, sans-serif;

_width = 573

body,
html
  padding 0
  margin 0

.font-default
  font-family _font_default

.font-safe
  font-family _font_safe

table
  width 100%

  td
    font-size 12px
    text-align left

  img
    border none

// ------------------------------------------------------------------------
// wrap
// ------------------------------------------------------------------------
.wrap
  width unit(_width, px)
  margin 0 auto

// ----------------------------------------------------------------
// layout
// ----------------------------------------------------------------
#wrap
  width 100%
  height 100%
  background #FFF
  text-align center
  @extend .font-default

#wrap_inner
  @extend .wrap
  padding 0 0 23px

#wrap_inner_td
  @extend .wrap

#wrap_vertical
  vertical-align top

#legal
  font-size 11px
  text-align center
